{% extends 'base.html.twig' %}

{% block title %}Borrow Book{% endblock %}

{% block body %}
<section class="container">
    <h1>Liste des emprunts</h1>
    {% include 'layouts/_flash_messages.html.twig' %}
    <table class="table">
        <tr>
            <th>Livre</th>
            <th>Statut</th>
            <th>Date d'emprunt</th>
            <th>Date de retour</th>
            <th>Action</th>
        </tr>
        {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.book.title }}</td>
                <td>
                    {# Will change the status to "en_retard" on twig template only #}
                    {# The lateStatus function comes form Borrow Entity #}
                    {% set status = borrow.lateStatus %}
                    {% if borrow.status == "en_cours" %}
                        <span class="badge {{ status == 'en_retard' ? 'text-bg-warning' : 'text-bg-secondary' }}">{{ status }}</span>
                    {% else %}
                        <span class="badge text-bg-success">{{ status }}</span>
                    {% endif %}
                </td>
                <td>{{ borrow.borrowDate|date('d-m-Y H:i:s') }}</td>
                {% if borrow.returnDate is empty %}
                    <td>/</td>
                {% else %}
                    <td>{{ borrow.returnDate|date('d-m-Y H:i:s') }}</td>
                {% endif %}
                <td>
                    {% if borrow.status == "en_cours" %}
                        <a onclick="return confirm('Voulez-vous rendre le livre ?')" href="{{ path('app_borrow_return', {'id': borrow.id}) }}" class="btn btn-dark">Rendre</a>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun livre n'a été emprunté</td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}